<template>
    <el-container>
        <el-header>
            <LayoutHeader></LayoutHeader>
        </el-header>
        <LoginGuard class="overflowy-auto">
            <el-aside v-if="isAsideVisible" width="200px">
                <AdminAside></AdminAside>
            </el-aside>
            <el-main :class="{ 'bg-image': route.path == '/' }">
                <RouterView />
            </el-main>
        </LoginGuard>
    </el-container>
</template>

<script setup>
import { RouterView } from "vue-router";
import LayoutHeader from "./components/layout/LayoutHeader.vue";
import LoginGuard from "./components/layout/LoginGuard.vue";
import { computed } from "vue";
import { useRoute } from "vue-router";
import AdminAside from "./components/layout/AdminAside.vue";

const route = useRoute();
const isAsideVisible = computed(() => {
    return route.path.startsWith("/admin");
});
</script>

<style>
html,
body,
#app {
    all: unset;
    width: 100%;
    height: 100%;
    display: flex;
}
html {
    font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
    --el-font-family: Source Sans Pro, Helvetica, Arial, sans-s;
}
.overflowy-auto {
    overflow-y: auto;
}

.bg-image {
    background-image: url("/images/cartons.jpg");
    background-size: cover;
    background-position: top center;
}
</style>
