<template>
    <el-menu
        :default-active="activeIndex"
        @select="handleSelect"
        mode="vertical"
    >
        <el-menu-item index="1">
            <el-icon><HomeFilled /></el-icon>
            <span>Dashboard</span>
        </el-menu-item>
        <el-menu-item index="2">
            <el-icon><UserFilled /></el-icon>
            <span>Candidatures</span>
        </el-menu-item>
        <el-menu-item index="3">
            <el-icon><Promotion /></el-icon>
            <span>Visites planifiées</span>
        </el-menu-item>

        <el-sub-menu index="4">
            <template #title>
                <el-icon><Histogram /></el-icon>
                <span>Rapports</span>
            </template>
            <el-menu-item
                v-for="item in reports"
                :key="item.route"
                :index="item.index"
            >
                {{ item.txt }}
            </el-menu-item>
        </el-sub-menu>
    </el-menu>
</template>

<script setup>
import { computed } from "vue";
import { useRoute, useRouter } from "vue-router";
import {
    HomeFilled,
    UserFilled,
    Promotion,
    Histogram,
} from "@element-plus/icons-vue";
const hardcodedPaths = [
    {
        route: "/admin",
        index: "1",
    },
    {
        route: "/admin/applications",
        index: "2",
    },
    {
        route: "/admin/appointments",
        index: "3",
    },
];
const reports = [
    {
        txt: "Proprios par ville",
        route: "/admin/report/richPeople",
        index: "4-1",
    },
    {
        txt: "Appartements chers",
        route: "/admin/report/expensives",
        index: "4-2",
    },
    {
        txt: "Candidats motivés",
        route: "/admin/report/desperateCandidates",
        index: "4-3",
    },
    {
        txt: "Membres non proprios",
        route: "/admin/report/notOwners",
        index: "4-4",
    },
    {
        txt: "Annonces impopulaires",
        route: "/admin/report/uglyHouses",
        index: "4-5",
    },
];
const route = useRoute();
const router = useRouter();
const allRoutes = [...hardcodedPaths, ...reports];
const activeIndex = computed(() => {
    const item = allRoutes.findLast((val) => route.path.startsWith(val.route));
    return item?.index ?? "1";
});
function handleSelect(key) {
    const item = allRoutes.find((val) => val.index === key);
    if (item?.route) {
        router.push(item.route);
    } else {
        router.push("/admin");
    }
}
</script>
<style>
.el-menu {
    height: 100%;
}
</style>
