<template>
    <h2>Vos biens et annonces</h2>
    <p>
        Un élément par annonces. Si il n'y a pas d'annonce, affiche une case
        simplifiée.
    </p>
    <ApplicationsTable
        :table-data="tableData"
        @show-application-details="showApplicationDetails"
    />
    <ApplicationDetails
        :application-id="applicationToShow"
        @show-application-details="showApplicationDetails"
        :readonly="true"
    ></ApplicationDetails>
</template>
<script setup>
import { computed, ref } from "vue";
import { apiEndpoint, axios } from "../../composables/endpoint";
import { useLoginStore } from "../../composables/useLogin";
import ApplicationsTable from "../applications/ApplicationsTable.vue";
import ApplicationDetails from "../applications/ApplicationDetails.vue";

const store = useLoginStore();

const tableData = ref([]);
const isLoading = ref(true);
const applicationToShow = ref(-1);

axios
    .get(apiEndpoint(`/possession/${store.userId}`))
    .then(({ data }) => {
        tableData.value = data;
    })
    .catch((e) => {
        ElMessage.error(e.message);
    })
    .finally(() => {
        isLoading.value = false;
    });

const showApplicationDetails = (id) => {
    applicationToShow.value = id;
};
</script>
