<template>
    <el-collapse v-model="activeNames" @change="handleChange">
        <el-collapse-item
            :title="`${
                props.applicationsCount > 0 ? props.applicationsCount + ' ' : ''
            }Candidatures`"
            name="1"
        >
            <el-table
                :data="tableData"
                stripe
                v-loading="isLoading"
                element-loading-text="Chargement des données..."
            >
                <el-table-column label="Candidature">
                    <template #default="scope">
                        <el-button
                            link
                            type="primary"
                            size="small"
                            @click="
                                showApplicationModal(scope.row.applicationId)
                            "
                        >
                            Détails (Id: #{{ scope.row.applicationId }})
                        </el-button>
                    </template>
                </el-table-column>
                <el-table-column prop="nom" label="Nom" />
                <el-table-column prop="prenom" label="Prénom" />
            </el-table>
        </el-collapse-item>
    </el-collapse>
</template>
<script lang="ts" setup>
import { ref } from "vue";
import { apiEndpoint, axios } from "../../composables/endpoint";
import { ElMessage } from "element-plus";

const props = defineProps({
    applicationsCount: Number,
    announcementId: Number,
});
const emits = defineEmits(["showApplicationDetails"]);

const activeNames = ref([]);
const tableData = ref([""]);
const isLoading = ref(false);

const handleChange = () => {
    isLoading.value = true;
    const params = { idAnnonce: props.announcementId };
    axios
        .get(apiEndpoint("/admin/allApplication"), { params })
        .then(({ data }) => {
            tableData.value = data;
        })
        .catch((e) => {
            ElMessage.error(e.message);
        })
        .finally(() => {
            isLoading.value = false;
        });
};

const showApplicationModal = (applicationId) => {
    emits("showApplicationDetails", applicationId);
};
</script>
