<template>
    <el-drawer
        v-model="drawer"
        :title="`Détails de la candidature #${props.applicationId}`"
        :direction="direction"
        @closed="emits('showApplicationDetails', -1)"
        size="60%"
    >
        <el-descriptions title="Candidat" :column="2">
            <el-descriptions-item label="Candidat">
                {{
                    applicationData.nomCandidat +
                    " " +
                    applicationData.prenomCandidat
                }}
            </el-descriptions-item>
            <el-descriptions-item label="Télephone">
                0{{ 600001200 + 30 * props.applicationId }}
            </el-descriptions-item>
            <el-descriptions-item label="Mail">
                {{
                    applicationData.prenomCandidat +
                    "." +
                    applicationData.nomCandidat
                }}@efrei.fr
            </el-descriptions-item>
        </el-descriptions>
        <el-divider></el-divider>
        <el-row :gutter="10">
            <el-col :span="20">
                <el-descriptions title="Annonce" :column="2">
                    <el-descriptions-item label="Adresse">
                        {{ applicationData.adresse }}
                    </el-descriptions-item>
                    <el-descriptions-item label="Type de logement">
                        {{ applicationData.typeLogement }}
                    </el-descriptions-item>
                    <el-descriptions-item label="Prix">
                        {{ applicationData.prix }} €
                    </el-descriptions-item>
                    <el-descriptions-item label="Surface">
                        {{ applicationData.surface }} m²
                    </el-descriptions-item>
                    <el-descriptions-item label="Propriétaire">
                        {{
                            applicationData.nomProprio +
                            " " +
                            applicationData.prenomProprio
                        }}
                    </el-descriptions-item>
                    <el-descriptions-item label="Télephone Proprio">
                        0{{ 600001200 + 40 * props.applicationId }}
                    </el-descriptions-item>
                    <el-descriptions-item label="Mail Proprio">
                        {{
                            applicationData.prenomProprio +
                            "." +
                            applicationData.nomProprio
                        }}@efrei.fr
                    </el-descriptions-item>
                </el-descriptions>
            </el-col>
            <el-col :span="4">
                <div style="display: flex; align-items: center; height: 100%">
                    <el-image
                        :src="applicationData.image"
                        fit="cover"
                    ></el-image>
                </div>
            </el-col>
        </el-row>
        <el-divider></el-divider>
        <el-descriptions title="Etat de la candidature" :column="1">
            <el-descriptions-item label="Statut Visite">
                <el-tag v-if="applicationData.dateVisite" type="success">
                    Planifiée au {{ applicationData.dateVisite }}
                </el-tag>
                <span v-else>
                    <el-button
                        v-if="!props.readonly"
                        type="primary"
                        style="float: right"
                        @click="ElMessage.error('Network Error (500)')"
                    >
                        Planifier une visite
                    </el-button>
                    <el-tag type="warning"> Non planifiée </el-tag>
                </span>
            </el-descriptions-item>
            <el-descriptions-item label="Commentaire visite">
                <el-button
                    v-if="!props.readonly"
                    :type="applicationData.dateVisite ? 'primary' : 'info'"
                    :disabled="!applicationData.dateVisite"
                    @click="handleEditAppointmentStatus"
                    style="float: right"
                >
                    Modifier bilan
                </el-button>
                {{ applicationData.etatVisite || "N/A" }}
            </el-descriptions-item>
            <el-descriptions-item label="Etat transaction">
                <el-button
                    type="info"
                    disabled
                    style="float: right"
                    v-if="!props.readonly && !applicationData.commission"
                >
                    Valider transaction
                </el-button>

                <span v-if="applicationData.dateVisite">
                    <el-tag v-if="applicationData.commission" type="success">
                        Validée (commission: {{ applicationData.commission }}%)
                    </el-tag>
                    <el-tag v-else type="warning"> En attente client </el-tag>
                </span>
                <span v-else>
                    <el-tag type="info">
                        (Une visite est nécessaire avant la validation d'une
                        transaction)
                    </el-tag>
                </span>
            </el-descriptions-item>
        </el-descriptions>
    </el-drawer>
</template>
<script setup>
import { ref, watch } from "vue";
import { apiEndpoint, axios } from "../../composables/endpoint";
import { ElMessage } from "element-plus";
const emits = defineEmits(["showApplicationDetails"]);
const props = defineProps({
    applicationId: Number,
    readonly: {
        default: false,
        type: Boolean,
    },
});

const direction = ref("rtl");
const drawer = ref(false);
const applicationData = ref({});
watch(
    () => props.applicationId,
    () => {
        if (!(props.applicationId && props.applicationId > 0)) {
            return;
        }
        drawer.value = true;
        axios
            .get(apiEndpoint(`/application/${props.applicationId}`))
            .then(({ data }) => {
                applicationData.value = data;
            })
            .catch((e) => {
                ElMessage.error(e.message);
            });
    }
);

function handleEditAppointmentStatus() {
    ElMessageBox.prompt("Commentaire de visite (ok/pas ok ?)", "", {
        confirmButtonText: "Sauvegarder",
        cancelButtonText: "Annuler",
        inputPlaceholder: applicationData.value.etatVisite,
    })
        .then(({ value }) => {
            applicationData.value.etatVisite = value;
        })
        .catch(() => undefined);
}
</script>
