<template>
    <div>
        <h2>Candidatures</h2>
        <p>
            Triées par ville et par nombre de candidatures. Cliquez sur le
            chiffre d'une annonce pour afficher ses candidatures.
        </p>
        <ApplicationsTable
            :table-data="tableData"
            @show-application-details="showApplicationDetails"
        />
        <ApplicationDetails
            :application-id="applicationToShow"
            @show-application-details="showApplicationDetails"
        ></ApplicationDetails>
    </div>
</template>
<script setup>
import { ref } from "vue";
import { apiEndpoint, axios } from "../../../composables/endpoint";
import { ElMessage } from "element-plus";
import ApplicationDetails from "../../applications/ApplicationDetails.vue";
import ApplicationsTable from "../../applications/ApplicationsTable.vue";

const tableData = ref([]);
const isLoading = ref(true);
const applicationToShow = ref(-1);

axios
    .get(apiEndpoint("/admin/allApplication"))
    .then(({ data }) => {
        tableData.value = data;
    })
    .catch((e) => {
        ElMessage.error(e.message);
    })
    .finally(() => {
        isLoading.value = false;
    });

const showApplicationDetails = (id) => {
    applicationToShow.value = id;
};
</script>
<style>
.el-space__item {
    width: 100%;
}
</style>
