<template>
    <div>
        <h2>Membres qui ne sont pas propriétaires</h2>
        <el-table
            :data="tableData"
            stripe
            v-loading="isLoading"
            element-loading-text="Chargement des données..."
        >
            <el-table-column prop="nom" label="Nom" />
            <el-table-column prop="prenom" label="Prénom" />
        </el-table>
    </div>
</template>
<script setup>
import { ref } from "vue";
import { apiEndpoint, axios } from "../../../composables/endpoint";
import { ElMessage } from "element-plus";

const tableData = ref([]);
const isLoading = ref(true);

axios
    .get(apiEndpoint("/report/notOwner"))
    .then(({ data }) => {
        tableData.value = data;
    })
    .catch((e) => {
        ElMessage.error(e.message);
    })
    .finally(() => {
        isLoading.value = false;
    });
</script>
<style>
.el-table {
    width: 100%;
}
</style>
